<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PolyDeck"
        android:usesCleartextTraffic="true">

        <!-- Welcome & Auth -->
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.LoginActivity" android:exported="true" />
        <activity android:name=".ui.activity.RegisterActivity" android:exported="false" />
        <activity android:name=".ui.activity.ForgotPasswordActivity" android:exported="false" />
        <activity android:name=".ui.activity.ResetPasswordActivity" android:exported="false" />

        <!-- Main/App Activities -->
        <activity android:name=".ui.activity.MainActivity" android:exported="false" />
        <activity android:name=".ui.activity.AdminDashboardActivity" android:exported="false" />
        <activity android:name=".ui.activity.AdminPanelActivity" android:exported="false" />

        <!-- User & Deck Management -->
        <activity android:name=".ui.activity.UserManagementActivity" />
        <activity android:name=".ui.activity.UserDetailActivity" />
        <activity android:name=".ui.activity.DeckManagementActivity" />
        <activity android:name=".ui.activity.AddDeckActivity" />
        <activity android:name=".ui.activity.EditDeckActivity" />
        <activity android:name=".ui.activity.AddVocabularyActivity" />
        <activity android:name=".ui.activity.CreateQuizActivity" />
        <activity android:name=".ui.activity.SendNotificationActivity" />
        <activity android:name=".ui.activity.VocabularyListActivity" />

    </application>

</manifest>
