<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PolyDeck"
        android:usesCleartextTraffic="true">

        <!-- Welcome & Auth -->
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.LoginActivity" android:exported="true" />
        <activity android:name=".ui.activity.RegisterActivity" android:exported="false" />
        <activity android:name=".ui.activity.ForgotPasswordActivity" android:exported="false" />
        <activity android:name=".ui.activity.ResetPasswordActivity" android:exported="false" />

        <!-- Main/App Activities -->
        <activity android:name=".ui.activity.MainActivity" android:exported="false" />
        <activity android:name=".ui.activity.AdminDashboardActivity" android:exported="false" />
        <activity android:name=".ui.activity.AdminPanelActivity" android:exported="false" />
        <activity android:name=".ui.activity.EditProfileActivity" android:exported="false" />
        <activity android:name=".ui.activity.SettingsActivity" android:exported="false" />
        <activity android:name=".ui.activity.ChangePasswordActivity" android:exported="false" />
        <activity android:name=".ui.activity.LeaderboardActivity" android:exported="false" />
        <activity android:name=".ui.activity.SupportActivity" android:exported="false" />

        <!-- User & Deck Management -->
        <activity android:name=".ui.activity.UserManagementActivity" android:exported="false" />
        <activity android:name=".ui.activity.UserDetailActivity" android:exported="false" />
        <activity android:name=".ui.activity.DeckManagementActivity" android:exported="false" />
        <activity android:name=".ui.activity.AddDeckActivity" android:exported="false" />
        <activity android:name=".ui.activity.EditDeckActivity" android:exported="false" />
        <activity android:name=".ui.activity.AddVocabularyActivity" android:exported="false" />
        <activity android:name=".ui.activity.CreateQuizActivity" android:exported="false" />
        <activity android:name=".ui.activity.QuizManagementActivity" android:exported="false" />
        <activity android:name=".ui.activity.QuizListActivity" android:exported="false" />
        <activity android:name=".ui.activity.ViewQuizActivity" android:exported="false" />
        <activity android:name=".ui.activity.SendNotificationActivity" android:exported="false" />
        <activity android:name=".ui.activity.VocabularyListActivity" android:exported="false" />

        <!-- Newly added user UI activities -->
        <activity android:name=".ui.activity.TopicDetailActivity" android:exported="false" />
        <activity android:name=".ui.activity.NotificationsActivity" android:exported="false" />
        <activity android:name=".ui.activity.QuizActivity" android:exported="false" />
        <activity android:name=".ui.activity.QuizResultActivity" android:exported="false" />
        <activity android:name=".ui.activity.FlashcardActivity" android:exported="false" />
        <activity android:name=".ui.activity.FlashcardDoneActivity" android:exported="false" />
        <activity android:name=".ui.activity.FavoritesActivity" android:exported="false" />
        <activity android:name=".ui.activity.LearningStatusActivity" android:exported="false" />

    </application>

</manifest>